/* Normalize the page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Standardize font */
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.2em;
}
